
body{
  font-family: "Montserrat", sans-serif;  
 font-size: 2rem;
 color: white;
 background-color: #000000;
 text-align:center;
 margin: 30px;
}

.images {
  width: auto;
  height:auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /*display: block;*/
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}