
body{
  font-family: "Montserrat", sans-serif;  
 font-size: 2rem;
 color: white;
 background-color: #333;
 text-align:center;
}
img {
  width: 60%;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}