
#header{
  background:https://images.unsplash.com/photo-1554189097-ffe88e998a2b?ixlib=rb-1.2.1&w=1000&q=80('bg image');
  font-family: "Montserrat", sans-serif;  
  font-size: 1rem;
  color: Gray;
}

body{
  font-family: "Montserrat", sans-serif;  
 font-size: 2rem;
 color: white;
 background-color: #333;
 text-align:center;
}